@model IEnumerable<Quizzz.Core.Models.QuestionViewModel>

@{
    ViewData["Title"] = "Questions";
}

<h1>Questions</h1>

<p>
    <a asp-action="CreateNew">Create New</a>
</p>
<div class="btn-group">
    @using (Html.BeginForm("Index", "Quizes", FormMethod.Post))
    {
        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Edit Quizes</button>
    }
    @using (Html.BeginForm("Index", "Questions", FormMethod.Post))
    {
        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Edit Questions</button>
    }
    @using (Html.BeginForm("Index", "Answers", FormMethod.Post))
    {
        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Edit Answers</button>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quiz)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quiz.Name)
            </td>
            <td>
                <a asp-action="AnswersForQuestion" asp-route-id="@item.Id">Answers</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
